.subscribe-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 30px 150px;
    background-color: #F5F5F5;
}

.subscribe-info {
    display: flex;
    align-items: center;
    gap: 25x;
}

.subscribe-heading {
    font-size: 22px;
    font-weight: 700;
    margin-right: 20px;
}

.subscribe-info .description {
    border-left: 1px solid rgb(175, 175, 175);
    padding: 20px 0px 25px 20px;
    font-size: 17px;
}

.subscribe-input {
    height: 50px;
    max-width: 350px;
    width: 350px;
    font-size: 14px;
    padding-left: 20px;
    background-color: white;
    border: none;
}

.subscribe-input:focus {
    outline: none;
    border: none;
}

.subscribe-btn {
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin: 5px 0px;
    height: 50px;
    background-color: var(--yellow-color);
    color: white;
}

@media (max-width: 1500px) {
    .subscribe-container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .subscribe-info {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .subscribe-container {
        padding: 30px 20px;
        gap: 30px;
    }

    .subscribe-heading {
        font-size: 20px;
    }

    .subscribe-btn {
        padding: 8px 10px;
    }
}

@media (max-width: 768px) {
    .subscribe-container {
        gap: 15px;
    }

    .subscribe-info {
        flex-direction: column;
    }

    .subscribe-info .description {
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
    }
}

@media (max-width: 480px) {
    .subscribe-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
    }

    .subscribe-input {
        width: 100%;
    }

    .subscribe-btn {
        width: 100%;
        border-left: none;
    }
}