.create-container {
    width: 100%;
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.create-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 80%;
    max-width: 900px;
    margin: 20px 0px;
}

.create-card h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000000;
    text-align: center;
}

.create-card form {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.create-card form .input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.create-card form .input-container label {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
}

.create-card form .input-container input {
    padding: 12px;
    font-size: 14px;
    width: 350px;
    margin-bottom: 12px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    transition: border-color 0.3s;
}

.create-card form .input-container input:focus {
    border-color: var(--yellow-color);
}

.create-card .submit-btn {
    padding: 12px 0;
    width: 100%;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 25px;
}

.create-card .submit-btn:hover {
    background-color: var(--yellow-color);
}