.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    overflow: hidden;
    height: 40px;
}

#search-input {
    border: none;
    outline: none;
    padding: 8px 15px;
    font-size: 14px;
    width: 100%;
}

#search-btn {
    border: none;
    background: none;
    padding: 8px 15px;
    cursor: pointer;
    background-color: var(--yellow-color);
    border-radius: 50px;
    height: 100%;
}

.search-icon {
    font-size: 16px;
    color: var(--dark-gray-color);
    color: white;
}

@media (max-width: 1400px) {
    .search-form {
        width: 150px;
    }

    #search-input {
        padding-right: 4px;
        font-size: 12px;
    }

    #search-btn {
        padding: 8px 15px;
    }

    .search-icon {
        font-size: 13px;
    }
}