.reviews-section {
    padding: 80px 150px 100px 150px;
    background-image: url('/public/images/reviews-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.reviews-section .title-group {
    text-align: center;
}

.reviews-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 110px;
}

.review-box {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 65px 20px 20px 20px;
}

.review-box img {
    width: 90px;
    height: 90px;
    padding: 3px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid var(--yellow-color);
    position: absolute;
    top: -40px;
    background-color: white;
}

.review-box .customer-name {
    font-size: 18px;
    font-weight: 700;
}

.rating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.star-rating {
    display: flex;
    justify-content: center;
    color: var(--yellow-color);
    font-size: 16px;
}

/* Screen Adjustments */
@media (min-width: 1200px) {
    .reviews-box-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .reviews-section {
        padding-left: 60px;
        padding-right: 60px;
    }

    .review-box:nth-last-child(-n+1) {
        display: none;
    }
}

@media (max-width: 1024px) {
    .review-box:nth-last-child(-n+2) {
        display: none;
    }
}

@media (max-width: 768px) {
    .reviews-section {
        padding: 45px 20px 50px 20px;
    }

    .reviews-box-container {
        margin-top: 90px;
    }

    .review-box {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }

    .review-box .customer-name {
        font-size: 16px;
    }

    .star-rating {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .reviews-box-container {
        grid-template-columns: repeat(1, 1fr);
    }
}