.subscribe-container {
    background-color: #eee;
    padding: 45px 110px;
    display: grid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--dark-gray-color);
}

.subscribe-info h3 {
    font-size: 18px;
}

.subscribe-info p {
    margin-top: 10px;
    font-size: 16px;
}

.subscribe-input {
    font-size: 14px;
    height: 48px;
    padding-left: 10px;
    margin-right: 10px;
    max-width: 350px;
    width: 300px;
    border: 1px solid var(--dark-gray-color);
    background-color: #eee;
}

.subscribe-input::placeholder {
    color: var(--dark-gray-color);
}

.subscribe-btn {
    font-size: 14px;
    height: 48px;
    padding: 0px 15px;
    border: none;
    background-color: var(--dark-gray-color);
    color: #eee;
    font-weight: bold;
    cursor: pointer;
}

.footer-section {
    background: white;
}

.footer-content {
    padding: 60px 0px;
    margin: 0px 110px;
    display: flex;
    justify-content: space-between;
}

.footer-content .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.footer-content .logo a {
    text-decoration: none;
}

.footer-content .logo .logo-image {
    background-image: url('/public/images/logo-image.jpeg');
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.footer-content .logo h2 {
    color: black;
}

.col-title {
    font-size: 20px;
    color: var(--dark-gray-color);
    margin-bottom: 15px;
}

.links-col ul {
    list-style-type: none;
}

.links-col ul li {
    margin-bottom: 8px;
}

.links-col ul li:hover {
    text-decoration: underline;
}

.links-col ul li a {
    text-decoration: none;
    color: var(--dark-gray-color);
    font-size: 17px;
}

.contacts-col .contact-info,
.information-col .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contacts-col .contact-info p,
.information-col .info p {
    font-size: 17px;
}

.contacts-col .contact-info p i {
    margin-right: 10px;
    color: var(--yellow-color);
}

.icons-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.icons-row a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--yellow-color);
    color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.icons-row a:hover {
    background-color: var(--yellow-color);
}

.icons-row i {
    font-size: 25px;
}

.rights {
    color: var(--dark-gray-color);
    font-size: 16px;
    text-align: center;
    border-top: 1px solid var(--border-color);
    padding: 15px 0px;
}

@media (max-width: 1200px) {
    .subscribe-container {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-content {
        margin: 0px 60px;
    }

    .footer-content>div {
        margin-right: 40px;
    }
}

@media (max-width: 1024px) {
    .subscribe-container {
        padding: 30px 20px;
    }

    .subscribe-input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .subscribe-info p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .subscribe-btn {
        width: 100%;
    }

    .footer-content .logo h2 {
        font-size: 18px;
    }

    .footer-content .logo .logo-image {
        width: 60px;
        height: 60px;
    }

    .icons-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .icons-row a {
        width: 40px;
        height: 40px;
    }

    .icons-row a i {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .subscribe-info p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
        padding-bottom: 20px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .footer-content>div {
        margin-top: 30px;
    }

    .icons-row {
        grid-template-columns: repeat(4, 1fr);
    }
}