.contact_section {
    display: grid;
    place-items: center;
}

.hero {
    color: black;
    padding: 40px 0px;
    text-align: center;
    position: relative;
    background-color: #f8f8f8;
    width: 100%;
}

.hero h1 {
    font-size: 35px;
    margin: 15px 0px;
}

.map-section {
    display: flex;
    gap: 35px;
    width: 70%;
    margin-top: 3%;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.contact {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid rgb(218, 218, 218);
    padding: 20px;
    width: 350px;
}

.contact i {
    font-size: 35px;
    color: rgb(143, 116, 57);
}

.contact .info p {
    margin-bottom: 8px;
}

.contact .info .title {
    font-size: 17px;
    font-weight: 700;
}

.map {
    width: 100%;
}

.contact-form-section {
    width: 70%;
    margin-top: 60px;
    margin-bottom: 3%;
    padding: 50px;
    background-color: rgb(250, 250, 250);
}

.contact-form-section p {
    margin-top: 15px;
    margin-bottom: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
}

.contact-form .input-fields {
    display: flex;
    width: 100%;
    gap: 25px;
}

.contact-form .input-group {
    width: 100%;
}

.contact-form .input-field {
    margin-bottom: 10px;
    padding: 20px 12px;
    font-size: 14px;
    border: none;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(161, 161, 161);
    width: 100%;
}

.contact-form .input-field:focus {
    border-color: #444444;
    outline: none;
}

.contact-form textarea {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(179, 179, 179);
    font-family: Arial, sans-serif;
    resize: none;
}

.contact-form .button {
    padding: 15px 50px;
    font-size: 14px;
    color: white;
    background-color: var(--yellow-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media (max-width: 1024px) {
    .map-section {
        flex-direction: column;
        width: 80%;
    }

    .contact-details {
        justify-content: space-between;
    }

    .contact-details .contact {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        width: 100%;
        gap: 10px;
    }

    .map {
        height: 300px;
    }

    .contact-form-section {
        width: 80%;
    }

    .contact-form .input-fields {
        flex-direction: column;
        gap: 0px;
    }
}