.contact_section {
    display: grid;
    place-items: center;
}

.hero {
    background-color: #f8f8f8;
    color: black;
    padding: 40px 0px;
    text-align: center;
    position: relative;
    width: 100%;
}

.hero h1 {
    font-size: 35px;
    margin: 15px 0px;
}

.hero p {
    font-size: 16px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eceaea;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 50px 0;
    height: 530px;
    width: 70%;
}

.contact-section .map {
    border-radius: 12px;
    border: none;
    width: 55%;
    height: 100%;
}

.contact-content-wrapper {
    width: 35%;
    align-self: center;
    margin-right: 50px;
    height: auto;
}

.contact-form-section .contact-details {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 20px;
}

.contact-form-section .contact-details .contact {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
}

.contact-form-section .contact-details .contact i {
    color: white;
    font-size: 18px;
    padding: 13px;
    background-color: var(--yellow-color);
    border-radius: 50%;
}

.contact-form-section .contact-details .contact h3 {
    color: #333;
    font-size: 16px;
}

.contact-form-section .contact-details .contact p {
    font-size: 16px;
    margin: 0;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-form .input-field {
    padding: 12px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgb(179, 179, 179);
    width: 100%;
}

#contact-form .input-field:focus {
    border-color: #333;
    outline: none;
}

#contact-form textarea {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(179, 179, 179);
    resize: none;
    font-family: Arial, sans-serif;
}

#contact-form .button {
    padding: 13px;
    font-size: 14px;
    color: white;
    background-color: var(--yellow-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form .button:hover {
    background-color: #a58b5a;
}

@media (max-width: 1024px) {
    .contact-section {
        display: flex;
        flex-direction: column;
        border: none;
        box-shadow: none;
        height: auto;
    }

    .contact-section .map {
        width: 100%;
    }

    .contact-content-wrapper {
        width: 90%;
        margin-top: 30px;
    }
}