.cart-container {
    margin: 40px 110px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

.product-container {
    flex: 2;
}

.product-container .title {
    font-size: 22px;
    font-weight: bold;
}

.product-container .items-num {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px;
}

.cart-container .cart-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-summary {
    text-align: end;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.cart-summary p {
    margin-bottom: 10px;
}

.cart-summary p span {
    margin-left: 15px;
}

.cart-summary .price {
    font-size: 16px;
    color: rgb(153, 152, 152);
}

.cart-summary .total-price {
    font-size: 20px;
}

.cart-container .btn-back {
    background-color: white;
    color: rgb(158, 158, 158);
    width: 250px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.cart-container .fa-arrow-left {
    margin-right: 8px;
}

@media (max-width: 1200px) {
    .cart-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .cart-container {
        margin: 40px 50px;
    }

    .cart-summary .total-price {
        font-size: 18px;
    }
}