.product-card {
    background-color: #fff;
}

.product-card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.product-card .image-container {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #F7F7F7;
}

.product-card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: rgb(163, 163, 163);
    padding: 10px;
    border-radius: 50%;
    font-size: 22px;
    background-color: rgba(248, 246, 246, 0.812);
    border-radius: 50%;
}

.product-card .product-info {
    padding-top: 18px;
    padding: 20px 10px 22px 10px;
    gap: 5px;
}

.product-card .product-info .container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-card .product-info .container .star-rating {
    color: var(--yellow-color);
    font-size: 15px;
}

.product-card .product-info h3 {
    /* font-weight: bold; */
    font-size: 17px;
}

.product-card .product-info .size {
    margin: 10px 0px 10px 0px;
    font-size: 14px;
}

.product-card .product-info .price {
    font-size: 18px;
    font-weight: bold;
    color: rgb(146, 102, 7)
}

.product-card:hover .heart-icon {
    transition: 0.5;
    display: block;
}

.product-card .heart-icon:hover {
    color: var(--yellow-color);
}

.product-card .favorites {
    color: var(--yellow-color);
    display: block;
}