.popup-message {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 18px;
    font-size: 17px;
    font-weight: bold;
    background-color: #C3F1D5;
    color: #1e5c36;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}