.favorites-container {
    margin: 50px 250px 40px 250px;
}

.favorites-container h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
}

.favorites-container .no-content {
    text-align: center;
    font-size: 20px;
}

@media (max-width: 1200px) {
    .favorites-container {
        margin: 60px;
        padding-top: 0px;
    }
}