.favorites-container {
    margin: 0px 300px 40px 300px;
    padding-top: 50px;
    min-height: calc(100vh - 120px);
}

.favorites-container h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.favorites-container .no-content {
    text-align: center;
    font-size: 25px;
}