.cart-container {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-container h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 25px;
}

.cart-container .product-container {
    width: 70%;
}

.cart-container .no-content {
    text-align: center;
    font-size: 20px;
}

.cart-container .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(208, 208, 208);
    padding: 15px;
}

.cart-container .product img {
    width: 150px;
    height: 120px;
}

.cart-container .product .product-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-name {
    font-size: 20px;
}

.quantity-container {
    width: 23%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-container .title {
    font-size: 18px;
    font-weight: 700;
}

.quantity-container .quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 3px;
    width: 110px;
}

.decrease,
.increase {
    border: none;
    background-color: white;
}

.decrease i,
.increase i {
    padding: 8px;
    color: gray;
    cursor: pointer;
    font-size: 16px;
}

.cart-container .product .price {
    font-weight: bold;
    font-size: 18px;
}

.remove-furniture {
    color: black;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
}

.remove-furniture:hover {
    text-decoration: none;
}

.total-price {
    background-color: rgb(247, 247, 247);
    padding: 20px;
    text-align: end;
    font-weight: bold;
    font-size: 22px;
}

.cart-container .buttons {
    display: flex;
    justify-content: space-between;
}

.cart-container .btn {
    padding: 12px;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cart-container .btn-buy {
    background-color: var(--yellow-color);
    color: white;
    border: none;
}

.cart-container .btn-buy:hover {
    background-color: rgb(182, 136, 67);
}

.cart-container .btn-back {
    background-color: white;
    color: var(--yellow-color);
    border: 2px solid var(--yellow-color);
}

.cart-container .btn-back:hover {
    background-color: var(--yellow-color);
    color: white;
}

@media (max-width: 1024px) {

    .product-name,
    .quantity-container .title {
        font-size: 15px;
    }

    .product-info .size {
        display: none;
    }

    .quantity-container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .cart-container .product-container {
        width: 90%;
    }

    .product-info img {
        display: none;
    }

    .quantity-container .quantity {
        width: 80px;
    }

    .decrease i,
    .increase i {
        padding: 4px;
        font-size: 13px;
    }

    .total-price {
        font-size: 15px;
    }

    .cart-container .btn {
        width: 150px;
        font-size: 14px;
    }

    .cart-container .product .price {
        font-size: 15px;
    }

    .remove-furniture {
        font-size: 15px;
    }
}