.header-section {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(203, 203, 203);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0px 150px;
    position: relative;
}

.nav-bar .logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 250px;
}

.nav-bar .logo-container .logo-image {
    height: 48px;
    width: 48px;
    background-image: url('/public/images/logo-image.jpeg');
    background-size: cover;
    background-position: center;
}

.nav-bar .logo-container .logo {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.nav-bar .nav-group {
    display: flex;
    gap: 45px;
}

.nav-bar .nav-item {
    position: relative;
    list-style-type: none;
}

.nav-bar .nav-item a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.nav-bar .nav-item a:hover {
    color: var(--yellow-color);
}

.catalog-link {
    position: relative;
}

.catalog-link .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    width: 170px;
    height: auto;
    background-color: white;
    z-index: 2000;
    text-align: center;
    display: none;
    padding-top: 30px;
}

.catalog-link .dropdown-menu li a {
    display: block;
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}

.catalog-link .dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid rgb(223, 222, 222);
}

.catalog-link .dropdown-menu li:hover {
    background-color: var(--yellow-color);
    color: white;
}

.catalog-link .dropdown-menu li a:hover {
    color: white;
}

.catalog-link .arrow-icon {
    color: gray;
    margin-left: 10px;
}

.catalog-link:hover .arrow-icon {
    transform: rotate(180deg);
    color: var(--yellow-color);
}

.catalog-link:hover .dropdown-menu {
    display: block;
}

@media (max-width: 1200px) {
    .nav-bar {
        margin-right: 60px;
        margin-left: 60px;
    }
}

@media (max-width: 1024px) {
    .nav-bar .logo-container {
        width: 100px;
    }

    .nav-bar .logo-container .logo {
        font-size: 18px;
    }

    .nav-bar .logo-container .logo-image {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        height: 180px;
        padding: 15px 0px;
    }
}