.categories {
    padding: 60px 150px 60px 150px;
    background-color: #F7F7F7;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    height: 600px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.grid-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-item:hover .description p {
    text-decoration: underline;
    color: black;
}

.grid-item .description {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
}

.grid-item h2 {
    margin: 0;
    font-size: 22px;
    color: #333;
}

.grid-item p {
    margin: 10px 0 0;
    color: #666;
}

.grid-item:hover {
    background-size: 110%;
}

.grid-item.couches {
    grid-row: span 2;
}

/* Responsive Adjustments */
@media (max-width: 1400px) {
    .grid-item img {
        object-fit: cover;
        object-position: 75% center;
    }
}

@media (max-width: 1200px) {
    .categories {
        padding-right: 60px;
        padding-left: 60px;
    }
}

@media (max-width: 1024px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item .description {
        top: 25px;
        left: 25px;
    }

    .grid-item h2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .categories {
        padding: 20px;
    }

    .grid-item .description {
        top: 15px;
        left: 15px;
    }

    .grid-item h2 {
        font-size: 18px;
    }

    .grid-item img {
        object-position: center;
    }

    .grid-item:hover img {
        transform: none;
    }

    .grid-item:hover {
        background-size: cover;
    }
}

@media (max-width: 480px) {
    .categories {
        height: 450px;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item p {
        margin: 0px;
    }
}