.items-container {
    padding: 50px 0px;
    margin: 0px 170px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.product-table thead {
    background-color: #f5f5f5;
}

.product-table thead th {
    padding: 12px;
    border-bottom: 2px solid #ddd;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

.product-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.product-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table tbody td {
    padding: 12px;
    vertical-align: middle;
}

.promote {
    cursor: pointer;
    padding: 8px;
    border: none;
    color: white;
    border: 1px solid var(--dark-gray-color);
    color: var(---dark-gray-color);
    font-weight: bold;
    width: 80px;
}

@media (max-width: 1024px) {
    .items-container {
        margin: 0px 20px;
    }
}

@media (max-width: 768px) {
    .product-table thead {
        display: none;
    }

    .product-table tbody,
    .product-table tr {
        display: block;
        margin-bottom: 15px;
    }

    .product-table td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid #ddd;
    }

    .product-table td::before {
        font-weight: bold;
        content: attr(data-label);
    }
}