.footer-section {
    background: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 60px 150px;
}

.footer-content .logo-col {
    width: 18%;
}

.footer-content .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-content .logo p {
    font-size: 20px;
    font-weight: 700;
}

.footer-content .logo a {
    text-decoration: none;
    color: black;
}

.footer-content .logo .logo-image {
    background-image: url('/public/images/logo-image.jpeg');
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.col-title {
    font-size: 20px;
    color: var(--dark-gray-color);
    margin-bottom: 20px;
}

.footer-column .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-column .info p {
    font-size: 17px;
}

.links-col ul {
    list-style-type: none;
}

.links-col ul li:hover {
    text-decoration: underline;
}

.links-col ul li a {
    text-decoration: none;
    color: var(--dark-gray-color);
    font-size: 17px;
}

.contact-icon {
    margin-right: 10px;
    color: var(--yellow-color);
}

.icons-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.icons-row a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--yellow-color);
    color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.icons-row a:hover {
    background-color: var(--dark-gray-color);
}

.icons-row i {
    font-size: 20px;
}

.rights {
    color: var(--dark-gray-color);
    border-top: 1px solid var(--border-color);
    font-size: 16px;
    text-align: center;
    padding: 15px 0px;
}

@media (max-width: 1300px) {
    .footer-content {
        margin: 60px;
    }

    .footer-content>div {
        margin-right: 40px;
    }

    .footer-content>div:last-child {
        margin-right: 0;
    }

    .footer-content .logo .logo-image {
        width: 55px;
        height: 55px;
    }

    .icons-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .icons-row a {
        width: 40px;
        height: 40px;
    }

    .icons-row a i {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .footer-content {
        margin: 60px 25px;
    }

    .footer-content .logo p {
        font-size: 18px;
    }

    .footer-content .logo .logo-image {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 40px 20px;
    }

    .footer-content>div {
        margin-right: 0px;
        margin-top: 30px;
    }

    .footer-content .logo-col {
        margin-top: 0px;
    }

    .footer-content .logo {
        justify-content: center;
    }

    .footer-content .logo-col .description {
        display: none;
    }

    .icons-row {
        grid-template-columns: repeat(4, 1fr);
    }
}