.footer-section {
    background: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
    margin: 0px 150px;
}

.footer-content .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.footer-content .logo a {
    text-decoration: none;
    color: black;
}

.footer-content .logo .logo-image {
    background-image: url('/public/images/logo-image.jpeg');
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.col-title {
    font-size: 20px;
    color: var(--dark-gray-color);
    margin-bottom: 15px;
}

.footer-column .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-column .info p {
    font-size: 17px;
}

.links-col ul {
    list-style-type: none;
}

.links-col ul li:hover {
    text-decoration: underline;
}

.links-col ul li a {
    text-decoration: none;
    color: var(--dark-gray-color);
    font-size: 17px;
}

.contact-icon {
    margin-right: 10px;
    color: var(--yellow-color);
}

.icons-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.icons-row a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--yellow-color);
    color: white;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.icons-row a:hover {
    background-color: var(--yellow-color);
}

.icons-row i {
    font-size: 25px;
}

.rights {
    color: var(--dark-gray-color);
    border-top: 1px solid var(--border-color);
    font-size: 16px;
    text-align: center;
    padding: 15px 0px;
}

@media (max-width: 1200px) {
    .footer-content {
        margin: 0px 60px;
    }

    .footer-content>div {
        margin-right: 40px;
    }

    .footer-content .logo h2 {
        font-size: 18px;
    }

    .footer-content .logo .logo-image {
        width: 55px;
        height: 55px;
    }

    .icons-row {
        grid-template-columns: repeat(2, 1fr);
    }

    .icons-row a {
        width: 40px;
        height: 40px;
    }

    .icons-row a i {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 0px 20px 0px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .footer-content>div {
        margin-top: 30px;
    }

    .icons-row {
        grid-template-columns: repeat(4, 1fr);
    }
}