.catalog-section {
    padding: 0px 0px 50px 0px;
}

/* Category Title Section */
.path .homepage {
    text-decoration: none;
    color: black;
}

.path .homepage:hover {
    text-decoration: underline;
}

.catalog-title {
    background-color: #FAFAFA;
    text-align: center;
    padding: 50px 0px;
    background-image: url('/public/images/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-title h1 {
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}

.catalog-title p {
    color: black;
    font-size: 16px;
}

/* Catalog content */
.catalog-container {
    padding: 20px 150px 0px 150px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-content {
    display: flex;
    width: 100%;
    gap: 35px;
}

.product-container {
    width: 100%;
}

.product-container .results {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: right;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 15px;
}

.not-available {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}

/* Filter Sidebar */
.filter-sidebar {
    width: 18%;
    margin-top: 24px;
}

.filter-category {
    margin-bottom: 30px;
}

.filter-sidebar .filter-category {
    border: 1px solid #eaeaea;
}

.filter-sidebar .filter-category .filter-content {
    padding: 20px 10px 15px 10px;
}

.filter-sidebar .filter-category .filter-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    background-color: #f6f6f6;
    padding: 10px;
}

.filter-category ul {
    list-style: none;
}

.filter-category ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.filter-category ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.filter-category ul li a:hover {
    text-decoration: underline;
}

.catalog {
    cursor: pointer;
}

.arrow-icon {
    color: #aaaaaa;
    font-size: 15px;
    transition: all 0.2s ease;
    cursor: pointer;
}

/* Price Filter */
.price-inputs input {
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 70px;
    text-align: center;
    margin-bottom: 10px;
}

.range-symbol {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 5px 0px 5px;
    color: var(--yellow-color);
}

.price-inputs input:focus {
    border-color: var(--yellow-color);
    outline: none;
}

.reset-price {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 18px;
}

.reset-price .x-mark {
    font-size: 20px;
    color: rgb(230, 151, 151);
    cursor: pointer;
}

.applied-price {
    font-weight: 700;
}

.applied-price .range {
    color: rgb(93, 158, 93);
    font-weight: 700;
}

.price-filter-btn {
    display: none;
}

/* Colors Filter */
.colors-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 22px));
    grid-template-rows: repeat(auto-fill, minmax(20px, 22px));
    gap: 8px;
}

.colors-container .color-box {
    width: 22px;
    height: 22px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.colors-container .color-box {
    transition: transform 0.3s ease;
}

.colors-container .color-box.selected {
    transform: scale(1.25);
}

.colors-container .fa-check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10px;
    display: none;
}

.colors-container .selected {
    box-shadow: 0 0 8px rgba(107, 103, 103, 0.3);
}

.colors-container .selected .fa-check {
    display: block;
}

.colors-container #white .fa-check,
.colors-container #beige .fa-check,
.colors-container #yellow .fa-check {
    color: black;
}

.colors-container #white {
    background-color: white;
}

.colors-container #gray {
    background-color: gray;
}

.colors-container #black {
    background-color: black;
}

.colors-container #brown {
    background-color: #4c3228;
}

.colors-container #beige {
    background-color: rgb(228, 213, 183);
}

.colors-container #green {
    background-color: rgb(129, 204, 129);
}

.colors-container #yellow {
    background-color: #feffa7;
}

.colors-container #pink {
    background-color: pink;
}

.colors-container #blue {
    background-color: rgb(119, 179, 247);
}

.colors-container #purple {
    background-color: rgb(197, 128, 214);
}

.colors-container #red {
    background-color: rgb(243, 56, 81);
}

@media (min-width: 1200px) {
    .product-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .catalog-container {
        padding: 20px 30px 0px 30px;
    }
}

@media (max-width: 768px) {
    .catalog-content {
        flex-direction: column;
        align-items: center;
    }

    .filter-sidebar {
        width: 90%;
        margin-top: 24px;
    }

    .filter-category ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
}