.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 150px 60px 150px;
    gap: 20px;
}

.service {
    display: flex;
    align-items: center;
    gap: 15px;
}

.service .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 2px solid #bea380;
    border-radius: 50%;
}

.service .icon {
    font-size: 20px;
    color: #bea380;
    padding: 15px;
}

.service .info .name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

/* Screen Adjustments */
@media (max-width: 1200px) {
    .services {
        gap: 25px;
        padding: 60px;
    }
}

@media (max-width: 1024px) {
    .services .service {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .service .icon,
    .section-title p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .services {
        padding: 30px 10px;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        justify-content: space-between;
        gap: 10px;
    }

    .services .service:nth-child(-n+1) {
        display: none;
    }

    .services .service {
        gap: 5px;
    }

    .service .icon-wrapper {
        height: 40px;
        width: 40px;
        border: 0.5px solid var(--yellow-color);
    }

    .service .icon {
        font-size: 16px;
        padding: 10px;
    }

    .service .info .name {
        font-size: 12px;
    }

    .service .desc {
        display: none;
    }
}